/** Aaron's CCS for the Sunburst diagram */

:root {
    --green: #00ad93;

    /* light mode */
    /* --text: rgba(0, 0, 0, 0.8); */
    /* --buttonbg: rgba(248, 248, 255, 1); */
    --text: #333;
    --buttonbg: #f8f8ff;
    --buttonbg_half: #f8f8ff88;
    --greenfadedarkmode: #9fd4cb;
    --bgcol1: #f8f8ff;
    --bgcol2: #fff;

    /* dark mode */
    /* --text: #ddd;
    --buttonbg: #333;
    --buttonbg_half: #3338;
    --greenfadedarkmode: #41524f;
    --bgcol1: #333;
    --bgcol2: #20262a; */

}

html,body {
    height: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    padding: 0px;
    /* overflow: hidden; */ /* Hide scrollbars */
    margin: 0px;

    /* background-image: linear-gradient(166deg, var(--bgcol1), var(--bgcol2), var(--bgcol1)); */

    background-position: left top, right bottom;
    /* background-position: left top; */
    background-repeat: no-repeat, no-repeat;
    /* background-repeat: no-repeat; */

    /* default text properties */
    color: var(--text);
    vertical-align: baseline;
}

div {
    border-radius: 25px;
    margin: 5px;
    padding: 0px 10px;
}

#info-box {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 99;
    /*background-color: rgba(255, 255, 255, 0);*/
    padding: 10px;
    pointer-events: none;
}

#color-box {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 99;
    padding: 0px 10px;
    pointer-events: none;
}

#run-info {
    position: absolute;
    bottom: 0px;
    left: 20px;
    z-index: 99;
    padding: 10px;
    font-size: 10pt;
}

/* This is the labels for the arcs */
.arc {
    font-size: 9pt;
    font-weight: 500;
}

h1 {
    font-size: 20pt;
    font-weight: 300;
}

h2 {
    font-family: 'Rubik', sans-serif;
}

table {
    border: 2px solid 'red';
}

th, td {
    border-spacing: 0px;
    padding: 0px;
    text-align: right;
}

/* .metrics_data_dynamic, .metrics_data_static, .metrics_data_node {
    vertical-align: baseline;
} */

.metrics_data_node {
    font-weight: 500;
}

.head {
    font-size: 80%;
    opacity: 0.7;
    text-align: left;
    /* position: relative;
    display: inline-block; */
}

.head2 {
    font-size: 80%;
    color: var(--green);
    font-weight: 500;
}

.debug {
    font-size: 80%;
    opacity: 0.5;
}

label {
    font-size: 80%;
}

input:disabled+label {
    opacity: 0.5;
}

.topics {
    font-weight:400;
    pointer-events: all;

    background-color: var(--buttonbg_half);

}





/* These are now all standard HTML form elements */



button {
    border: 2px solid var(--green);
    padding: 1px 5px;
    margin: 1px;
    border-radius: 12px;
    margin: 1px;
    
    color: var(--text);
    background-color: var(--buttonbg);
}

button:hover {
    background-color: var(--green);
    color: var(--buttonbg);

    border: 2px solid var(--green);
}

button:active {
    background-color: var(--green);
    color: var(--buttonbg);

    border: 2px solid var(--green);
}




/* TEXT FIELDS and DROPDOWNS */

input[type=text], select {
    margin: 2px;
    border: 2px solid var(--green);
    padding: 1px 5px;
    border-radius: 12px;

    color: var(--text);
    background-color: var(--buttonbg);
}



/* RADIO */

input[type='radio']:after {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: 0px;
    left: 0px;
    position: relative;
    content: '';
    display: inline-block;

    background-color: var(--buttonbg);
    border: 2px solid var(--green);
}

/* checked! */
input[type='radio']:checked:after {
/*     width: 10px;
    height: 10px;
    border-radius: 15px;
    top: 0px;
    left: 0px;
    position: relative;
    content: '';
    display: inline-block;
 */    
    background-color: var(--green);
    border: 2px solid var(--green);
}











/* CHECKBOX! */

/* unselected */
input[type='checkbox']:after {
    cursor: pointer;
    width: 10px;
    height: 10px;
    top: 0px;
    left: 0px;
    position: relative;
    content: '';
    display: inline-block;
    vertical-align: baseline;
    
    border: 2px solid var(--green);
    background-color: var(--buttonbg);
}

/* checked */
input[type='checkbox']:checked:after {
    border: 2px solid var(--green);
    background-color: var(--green);
}

/* disabled unselected */
input[type='checkbox']:disabled:after {
    background-color: var(--buttonbg);
    border: 2px solid var(--greenfadedarkmode);
}

/* disabled checked */
input[type='checkbox']:checked:disabled:after {
    color: var(--greenfadedarkmode);
    background-color: var(--greenfadedarkmode);
    border: 2px solid var(--greenfadedarkmode);
}






/* SLIDERS */

/*  .slidecontainer {
  width: 300; /* Width of the outside container */
/*}*/

/* The slider handle knob (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    /* width: 24px; Set a specific slider handle width */
    /* height: 15px; Slider handle height */
    border-radius: 8px;
    width: 14px;
    height: 14px;
    background: var(--green);
    cursor: pointer; /* Cursor on hover */
    /* border: 2px solid #333; */
    /* border: 2px solid rgba(0,0,0,0.5); */
    border: 2px solid var(--buttonbg);
}



/* The slider bar */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */

    /*-webkit-appearance: none;*/  /* Override default CSS styles */
    /*appearance: none;*/
    width: 150px; /* Full-width */
    height: 3px; /* Specified height */
    /* background: rgba(0, 0, 0, 0.5); Grey background */
    background: var(--green);
    outline: none; /* Remove outline */
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_tooltip */
/*.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}*/

